#app {
    display: flex;
    min-height: 100vh;
}

/* Sidebar stable */
#sidebar {
    width: 220px;
    min-width: 220px;
}

/* Main full width */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Content */
#content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}