body {
    background: var(--bg-main);
    color: var(--text-primary);
    font-family: Arial, sans-serif;
}

#app {
    display: flex;
}

#sidebar {
    width: 220px;
    background: #020617;
    height: 100vh;
    padding: 20px;
}

.main {
    flex: 1;
    padding: 20px;
}

#header {
    margin-bottom: 20px;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}